body {
    background: #b9e6a8;
    font-family: "Montserrat";
}

time,
#bola {
    margin: 15px;
}

#buscar {
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    font-size: 15px;
}

#bola {
    width: 100px;
    height: 100px;
}

h1 {
    font-family: "Lakki Reddy";
    color: purple;
    text-align: center;
    position: relative;
    font-size: 50px;
    margin: 0;
    top: 20px;
    text-shadow: 10px 5px 5px grey;
}

#bola {
    position: absolute;
    left: 0px;
    top: 0px;
}

time {
    position: absolute;
    right: 0px;
    top: 0px;
}

nav {

    background: purple;
}

nav li,
#busqueda {
    display: inline-block;
    border: solid white 2px;
    color: white;
    padding: 20px;
}

nav li {
    font-size: 20px;
}

ul {
    padding: 10px;
}

#menu li:hover,
#actual {
    background: white;
    color: purple;
}

#menu li:active {
    background: grey;
    border: solid grey 1px;
}

#nocturno {
    text-align: center;
    width: 50px;
    font-size: 15px;
    float: right;
    border: 0px;
    padding: 10px;
    color: white;
    padding-right: 20px;
    padding-top: 5px;
}

#nocturno:hover {
    background-color: purple;
    color: white;
    height: 20px;
}

#nocturno input {
    width: 20px;
}

#menu li {
    width: 150px;
    text-align: center;
}

#menu li:hover {
    cursor: pointer;
}

#colores {
    float: right;
    border-radius: 50px;
}

form input,
label,
a {
    display: block;
}

form input{
    border-radius:20px;
}

h3,
section img {
    display: inline;
}

h3 {
    font-size: 40px;
}

section input {
    border: solid white 3px;
    background: white;
}

section {
    font-size: 30px;
}

section a {
    font-size: 18px;
}

section * {
    margin: 15px;
}

address {
    display: inline-block;
}

#busqueda {
    border: 0px;
    float: right;
    padding: 0px;
    height: 81px;
    display: flex;
    align-items: center;
}

#busqueda * {
    height: fit-content;
}

nav {
    margin-top: 60px;
}

form {
    width: 400px;
    position: relative;
}

#lupa {
    margin-right: 10px;
    cursor: pointer;
}

#colores {
    position: absolute;
    left: 500px;
    top: 0px;
    width: 500px;

}

main {
    border: solid purple 2px;
}

footer {
    background-color: white;
    margin: 0;
    font-size: 12px;
}

header,
main {
    margin: 10px;
}

a {
    display: inline-block;
}

#usuarios {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
}

footer {
    border-top: solid purple 3px;
    padding: 10px;
}

time {
    color: purple;
    font-family: 'Lilita One', cursive;
}

#anuncios * {
    display: inline;
}

#anuncios *{
    height: 170px;
}
#anuncios:hover{
    cursor:pointer;
}

#opciones li{
    display: inline;
    padding: 10px;
}

#opciones,
#anuncios {
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones img {
    width: 200px;
    height:200px;
    border-radius: 20px;
    margin-top:70px;
}

#opciones img:hover {
    width: 220px;
    height:220px;
    cursor:pointer;
}

div span{
    text-align: center;
    font-size:20px;
}

li span{
    padding:10px;
    font-size:20px;
}

#opciones li:not(#grande){
    padding:20px;
}

#ojo{
    width:25px;
    height:25px;
}

#ojo:hover{
    cursor:pointer;
}

#password{
    position:relative;
}

#ojo{
    position:absolute;
    left:147px;
    top:191px;
}